.editorHeaderToolbar {
    gap: 140px;
    transform: none;
}

.editorHeaderCenter {
  transform: none;
  min-width: 280px;
}

.editorDocumentBarCommand {
  min-width: 260px;
}

.editorDocumentBarTitle {
  opacity: 1;
  transform: translateX(0%);
}

.editorHeaderSettings {
  transform: none;
}
